<%- include('./includes/scripts.ejs'); %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body onload="get_tasks(task_table);">
		<table class="table table-striped" style="font-size: 1em;" id="task_table">
			<!-- Added via JS -->
		</table>
	</body>
</html>
