<%- include('./includes/scripts.ejs'); %>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body class="login_page">

		<!-- main page container -->
		<div class="container">

			<!-- Login form -->
			<div class="row" style="margin-top: 20px;">
				<div class="col-lg-4 col-md-3 col-sm-3"></div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<img src="./views/images/logo_wo_sub.png" class="logo">
					<% if (typeof err_msg !== 'undefined') { %>
						<div class="alert alert-danger" role="alert"><%= err_msg %></div>
					<% } %>
					<div class="panel panel-default">
						<div class="panel-body">
							<form id="login_form" method="POST" action="/login">
								<div class="form-group">
									<label for="email">Email address</label>
									<input type="email" class="form-control login_input" name="username" placeholder="Email" autocomplete="off">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control login_input" name="password" placeholder="Password" autocomplete="off">
								</div>
						</div>
						<div class="panel-footer">
							<div class="form-group">
								<p>
									<button class="btn btn-primary btn-right" type="submit" id="reg_btn">Login</button>
									<a href="/register">
										<span class="btn btn-danger btn-right">Register</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-3 col-sm-3"></div>
			</div>

		</div>
	</body>
</html>
